/*-------Fonts-------*/
@mainFont: 'Quicksand', sans-serif;
@mainTextColor: #287271;
@activeTextColor: #E76F51;
@mainSpacing: 0.5px;

/*-------Layouts-------*/
@mainBorderColor: #8FA078;
@mainBoxShadow: 0 0 4px 2px rgba(0,0,0,0.1);

/*-------Animations-------*/
@animationFastTime: 0.3s;
@animationSlowTime: 0.7s;
