/*-------Colors-------*/
@colorWhite: #fff;
@colorLightGray: #f0f0f0;
@colorGray: #ccc;
@colorDark: #287271;
@colorActive: #E76F51;
@colorDisable: @colorGray;
@colorError: #B00;



/*-------Fonts-------*/
@mainFont: 'Quicksand', sans-serif;
@mainTextColor: @colorDark;
@activeTextColor: @colorActive;
@mainSpacing: 0.5px;
@mainFontWeight: 400;
@largeFontSize: 20px;
@mainFontSize: 16px;
@smallFontSize: 14px;
@mainLineHeight: 26px;

/*-------Layouts-------*/
@backgroundColor: @colorWhite;
@mainBorderColor: @colorGray;
@mainBoxShadow: 0 0 4px 2px rgba(0,0,0,0.1);

/*-------Forms-------*/
@formElementHeight: 40px;
@formBorderColor: @colorGray;
@formBorderActiveColor: @colorActive;
@formBorderRadius: 5px;
@formFontSize: @mainFontSize;
@formErrorColor: @colorError;

/*-------Animations-------*/
@animationFastTime: 0.3s;
@animationSlowTime: 0.7s;
